.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: xx-large;
}

.middle {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 70px;
}

.btn {
    margin-left: 25px;
}

.score {
    display: flex;
    justify-content: space-evenly;
    margin-top: 70px;
    font-size: xx-large;
}